.App {
  text-align: center;
}

.App-header {
  background-image: url("dark-sky.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  background-color: rgba(240, 248, 255, 0.7);
  border: 1px solid aliceblue;
  text-shadow: 5px 5px 5px black;
  height: 50px;
  width: 150px;
}
